<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>密码修改</title>
    <style>
        #article{
            color:red;
            line-height: 140px;
            font-family: '楷体';
            font-size: 45px;
        }
        #article a{
            text-decoration: none;
        }
    </style>
</head>
<body background="../static/img/star-off-big.png">
    <p id="article"  font="bold 16px/50px'宋体" style="text-align: center">
        邮件已发送，请注意查收！
    </p>
</body>
</html>